@font-face {
  font-family: 'ArchivoBlack';
  src: url('fonts/ArchivoBlack/archivoblack-webfont.woff2') format('woff2'),
       url('fonts/ArchivoBlack/archivoblack-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ErikaType';
  src: url('fonts/Erikatype/erika_type-webfont.woff2') format('woff2'),
       url('fonts/Erikatype/erika_type-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'RalewayBold';
  src: url('fonts/RalewayBold/raleway-bold-webfont.woff2') format('woff2'),
       url('fonts/RalewayBold/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Matiz';
  src: url('fonts/Matiz/matiz-webfont.woff2') format('woff2'),
       url('fonts/Matiz/matiz-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body, html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: black;
}

#nav-bar {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  position: fixed;
  box-shadow: 0 1px 6px 0 black;
  z-index: 3;
}

#nav-bar-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.nav-bar-items {
  margin-left: 80px;
  font-family: "Raleway";
  font-size: 14px;
  letter-spacing: 1px;
  border: none;
  background-color: inherit;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
}

#logo {
  font-family: "ArchivoBlack";
  letter-spacing: 0px;
  font-size: 20px;
  margin-left: 25px;
}

.nav-bar-items:hover {
  opacity: 0.7;
  cursor: pointer;
  letter-spacing: 3px;
  transition-delay: 0.07s;
}

#logo:hover {
  color: #E100FF;
  opacity: 1;
  cursor: pointer;
}

#series-container {
  position: fixed;
  top: 50px;
  height: 850px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mini-container {
  width: 480px;
  height: 850px;
}

.album-cover {
  width: 480px;
  height: 850px;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.album-cover:hover {
  cursor: pointer;
}

.description-box {
  box-sizing: border-box;
  width: 480px;
  height: 850px;
  padding: 65px;
  position: fixed;
  opacity: 0;
}

.title-container {
  text-align: center;
}

.title {
  width: 260px;
  display: inline-block;
  font-family: 'Matiz';
  font-size: 40px;
  z-index: 2;
  padding-top: 20px;
}

#vignettes-title {
  color: #E765FF;
}

#nocturnal-title {
  color: #E6FF22;
}

#blue-hour-title {
  color: #4EDDFF;
}

.text-container {
  text-align: center;
}

.text {
  font-family: 'ErikaType';
  letter-spacing: 1px;
  line-height: 1.2;
  font-size: 13px;
  color: white;
  display: inline-block;
}

.link-container {
  text-align: center;
  padding-top: 20px;
}

.link {
  display: inline-block;
  font-family: 'RalewayBold';
  background-color: transparent;
  border-radius: 10px;
  padding: 7px 18px 7px 18px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  position: relative;
  font-size: 13px;
}

#vignettes-link {
  border: 1.45px solid #E765FF;
  color: #E765FF;
}

#nocturnal-link {
  border: 1.45px solid #E6FF22;
  color: #E6FF22;
}

#blue-hour-link {
  border: 1.45px solid #4EDDFF;
  color: #4EDDFF;
}

.link:hover {
  padding-right: 25px;
  padding-left: 11px;
  cursor: pointer;
}

.link:after {
  content: ">>";
  size: 20px;
  padding-left: 3px;
  font-size: 12px;
  font-family: 'RalewayBold';
  position: absolute;
  opacity: 0;
}

.link:hover:after {
  opacity: 1;
}
